body {
	background-color: black;
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	position: relative;
}

.page_row {
	margin-top: 8%;
}

h1, h2, h3 {
	font-family: 'Dancing Script', cursive;
	text-shadow: 2px 2px #2C140D;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	color: #54CF55;
}

.subtitle {
	color: #BD91A2;
}

#quest_line {
	color: #FFFFFF;
	font-weight: bold;
}

#quest_choices {
	color: #FFFFFF;
}

#quest_timer {
	color: #D5AE2D;
}

#game_message {
	color: #FFFFFF;
}

.title_row {
	margin-top: 4%;
	height: 200px;
}

.cnt1 {
	color: #13EA15;
}

.cnt2 {
	color: #EA2A13;
}

.cnt3 {
	color: #EA2A13;
}